##########################################################
##  Qubes VPN Handler
##
##  See qubes-vpn-handler.service.d/00_example.conf
##  for example customization.

[Unit]
Description=VPN Client for Qubes proxyVM
ConditionPathExists=!/var/run/qubes/this-is-templatevm
ConditionPathExists=/rw/config/vpn
ConditionPathExistsGlob=/var/run/qubes-service/vpn-handler*
After=network.target qubes-firewall.service rw.mount
Conflicts=shutdown.target

[Service]
Group=qvpn
Restart=always
RestartSec=10
TimeoutStopSec=2
Environment="filter_opts=up |down |script-security|keepalive|persist-tun|resolv-retry|auth-user-pass"
Environment="client_cmd=/usr/sbin/openvpn"
Environment="client_opt1=--cd /rw/config/vpn/ --config /tmp/vpn-client.conf --verb 3"
Environment="client_opt2=--mlock --ping 10 --ping-restart 42 --connect-retry 5 30"
Environment="client_opt3=--connect-retry-max 7 --resolv-retry 15 --group qvpn"
Environment='client_opt4=--script-security 2 --up "/usr/lib/qubes/qubes-vpn-ns up" --down "/usr/lib/qubes/qubes-vpn-ns down"'
Environment="client_opt5="
Environment="userpassword_opt=--auth-user-pass /tmp/userpassword.txt"

ExecStartPre=/usr/lib/qubes/qubes-vpn-setup --check-firewall
ExecStartPre=/usr/lib/qubes/qubes-vpn-setup --pre-start
ExecStart=/usr/lib/qubes/qubes-vpn-setup --start-exec
ExecStartPost=/usr/lib/qubes/qubes-vpn-setup --post-start
ExecStopPost=/usr/lib/qubes/qubes-vpn-setup --post-stop


[Install]
WantedBy=multi-user.target

