##########################################################
##  Qubes VPN Handler
##
##  See qubes-vpn-handler.service.d for specific clients

[Unit]
Description=VPN Client for Qubes proxyVM
ConditionPathExists=!/var/run/qubes/this-is-templatevm
ConditionPathExists=/rw/config/vpn
ConditionPathExistsGlob=/var/run/qubes-service/vpn-handler*
After=network.target qubes-firewall.service rw.mount

[Service]
Group=qvpn
Restart=always
RestartSec=10
TimeoutStopSec=2
Environment="retrysec=5 30"

ExecStartPre=/usr/lib/qubes/qubes-vpn-setup --check-firewall
ExecStartPre=/usr/lib/qubes/qubes-vpn-setup --pre-start

ExecStart=/usr/sbin/openvpn --cd /rw/config/vpn/ --config vpn-client.conf \
--group qvpn --verb 3 --mlock --connect-retry ${retrysec} --script-security 2 \
--up "/usr/lib/qubes/qubes-vpn-ns up" --down "/usr/lib/qubes/qubes-vpn-ns down" \
--auth-user-pass /tmp/userpassword.txt

ExecStartPost=/usr/lib/qubes/qubes-vpn-setup --post-start
ExecStopPost=/usr/lib/qubes/qubes-vpn-setup --post-stop


[Install]
WantedBy=multi-user.target

