########################################################
##  Qubes VPN Support, OpenVPN version
##
## This may be adapted to other VPN programs by changing
## the ConditionPathExists= and ExecStart= parameters.

[Unit]
Description=OpenVPN Client for Qubes
ConditionPathExists=/rw/config/vpn
After=network.target qubes-firewall.service rw.mount

[Service]
Group=qvpn
PrivateTmp=true
Type=forking
PIDFile=/var/run/qubes/vpn-client.pid
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/qubes/vpn-client.pid \
--cd /rw/config/vpn/ --config openvpn-client.ovpn \
--script-security 2 --up "qubes-vpn-ns up" --down "qubes-vpn-ns down" \
--auth-user-pass userpassword.txt
Restart=always
RestartSec=10
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
