## Example wireguard config (experimental):

[Service]
Type=oneshot
Restart=no
RemainAfterExit=true

Environment="filter_opts="

Environment="client_cmd="
Environment="client_cmd=/tmp/wg-quick"

Environment="client_opt1="
Environment="client_opt1=up /tmp/vpn-client.conf"
Environment="client_opt2="
Environment="client_opt3="
Environment="client_opt4="
Environment="client_opt5="

Environment="userpassword_opt="

# Override wg-quick DNS functions:
ExecStartPre=/bin/cp -a /usr/bin/wg-quick /tmp
ExecStartPre=/bin/sed -i "/~~ function override insertion point/a set_dns() { export vpn_dns=\$(echo \"\$\{DNS[*]\}\" | sed -e \"s|[[:space:]]\+||g\" -e \"s|,| |g\"); /usr/lib/qubes/qubes-vpn-ns up; HAVE_SET_DNS=1; }" /tmp/wg-quick
ExecStartPre=/bin/sed -i "/~~ function override insertion point/a unset_dns() { /usr/lib/qubes/qubes-vpn-ns down; }" /tmp/wg-quick

# Workaround: Allow wg access to net
ExecStartPre=/sbin/nft chain ip qubes output '{ policy accept; }'
ExecStartPre=/sbin/nft chain ip6 qubes output '{ policy accept; }'
ExecStartPost=/sbin/ip link set dev "vpn-client" group 9

ExecStop=/tmp/wg-quick down /tmp/vpn-client.conf
